<style>
  .form-group{
    margin: 0 auto;
    width: 80%;
  }  

  .form-control{
    margin: 5px 0;
  }

  .submit-buttom{
    margin-top: 10px;
    display: block;
    text-align: center;
  }

  .submit-buttom p{
    display: inline-block;
    margin: 3px;
  }

  .uploader{
    margin-top: 5px;
  }
</style>

<% if @travelresort.errors.any? %>
  <% @travelresort.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <%= form_for [:admin,@travelresort] do |f| %>
        <%= f.label :name,"Name" %>
        <%= f.text_field :name ,class:"form-control"%>

        <%= f.label :tel,"Tel" %>
        <%= f.text_field :tel ,class:"form-control"%>

        <%= f.label :address, "Address" %>
        <%= f.text_field :address,class:"form-control" %>

        <%= f.label :opening_hours, "Opening_hours" %>
        <%= f.text_field :opening_hours ,class:"form-control"%>
        
        <%= f.label :description ,"Description" %>
        <%= f.text_area :description,class:"form-control" %>

        <%= f.label :image,"Photo" %><br>
        <%= image_tag @travelresort.image,width:"300px" if @travelresort.image? %>
        <div class="uploader">
          <%= f.file_field :image %>
        </div> 
              
        <div class="submit-buttom">
          <p><%= f.submit class:"btn btn-primary"%></p>    
          <p><%= link_to "Cancel",admin_root_path,class:"btn btn-danger" %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>