<h1>後台入口</h1>

<ul>
<% @travelresorts.each do |travelresort| %>
  <li>
    <%= travelresort.name %>
    <%= link_to "show",admin_travelresort_path(travelresort) %> 
    <%= link_to "Edit",edit_admin_travelresort_path(travelresort)%> 
    <%= link_to "Delete",admin_travelresort_path(travelresort),method: :delete,data:{confirm:"Are You Sure ?"} %>
  </li>
<% end %>
</ul>

<%= link_to "New Resort",new_admin_travelresort_path %>