<h1><%= @travelresort.name %></h1>

<%= @travelresort.tel %><br>
<%= @travelresort.address %><br>
<%= @travelresort.opening_hours %><br>
<%= @travelresort.description %><br>

<%= link_to "Back to Index",admin_root_path %>